<div class="current-style {{if maximized 'maximized'}}">
  <div class='wrapper'>
    {{text-field class="style-name" value=model.name}}

    <div>
      {{i18n "admin.customize.theme.customize_desc"}} {{combo-box content=targets value=currentTarget}}
    </div>

    <div class='admin-controls'>
      <ul class='nav nav-pills'>
        {{#each fields as |field|}}
          <li>
            {{#link-to 'adminCustomizeThemes.edit' model.id currentTargetName field.name replace=true title=field.title}}
              {{#if field.icon}}{{fa-icon field.icon}} {{/if}}
              {{i18n field.key}}
            {{/link-to}}
          </li>
        {{/each}}
        <li class='toggle-maximize'>
          <a {{action "toggleMaximize"}}>
            <i class="fa fa-{{maximizeIcon}}"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="admin-container">
      {{ace-editor content=activeSection mode=activeSectionMode}}
    </div>

    <div class='admin-footer'>
      <div class='status-actions'>
        {{#unless model.changed}}
          <a class='preview-link' href={{previewUrl}} target='_blank' title="{{i18n 'admin.customize.explain_preview'}}">{{i18n 'admin.customize.preview'}}</a>
          |
          <a href={{undoPreviewUrl}} target='_blank' title="{{i18n 'admin.customize.explain_undo_preview'}}">{{i18n 'admin.customize.undo_preview'}}</a>
          |
          <a href={{defaultStyleUrl}} target='_blank' title="{{i18n 'admin.customize.explain_rescue_preview'}}">{{i18n 'admin.customize.rescue_preview'}}</a><br>
        {{/unless}}
      </div>

      <div class='buttons'>
        {{#d-button action="save" disabled=saveDisabled class='btn-primary'}}
          {{saveButtonText}}
        {{/d-button}}
        {{d-button action="destroy" label="admin.customize.delete" icon="trash" class="btn-danger"}}
      </div>
    </div>
  </div>
</div>
